* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #005933;
    background: linear-gradient(0deg, rgba(0, 89, 51, 1) 5%, rgba(0, 0, 0, 1) 100%);
    color: #FFFFFF;
}

.header-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 393.56px;
    width: 700px;

}

.content p {
    text-align: justify;
    padding-bottom: 10%;
    margin: 10% 10% 0 10%;
}

.content video {
    width: 513px;
    margin-left: 10%;
}

.content .tips {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    transform: translate(80%, -90%);
}

.content ul {
    width: 350px;
    list-style: none;
    text-align: justify;
}

.content ul img {
    width: 50px;
    height: 50px;
}